.us {
	width:100%;
	text-align: center;
}
.winnie{
	width:23%;
}
.juliana{
	width:23%;
}
.lauren{
	width:23%;
}
.mariaIsabel{
	width:23%;
}
.tara{
	width: 23%;
}

div > div {
	display: inline-block;
    text-align: center;
}

img {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Share Tech', sans-serif;
}

.logo{
	text-align: left;
	text-align: top;
	width:10%;
	float: left;
    padding-top: 3%;
}

p{
	font-size: 75px;

	text-align: center;
	text-align: top;
	width:90%;
}

.two{
	display:inline-block;
	
	width: 100%;
}
